<div class="row-fluid">
    <div class="span12">
        <div class="box alternate">
            <div class="box-title">
                {{ box_titulo }}
            </div>
            <div class="box-content nopadding">
                {% block box_contenido %}box content{% endblock box_contenido %}
            </div>
        </div>

    </div>
</div>