{% extends '::base.html.twig' %}


{% block principal %}
    <div class="row-fluid">
        <div class="span2 leftmenu">
            {% include ':include:leftmenu.html.twig' %}
        </div>
        <div class="span10" id="content">
            {% block page %}
            {% endblock page %}
        </div>
    </div>
{% endblock principal %}




