{% extends '::base.html.twig' %}


{% block principal %}
    <div class="row-fluid">
        <div id="sidebar" class="span2 ">
            {% include ':include:leftmenu_acord.html.twig' with { modulo:  block("id") } %}
        </div>
        <div class="span10" id="content">
            {% block page %}{% endblock page %}
        </div>
    </div>
{% endblock principal %}




